<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<variable name="myConnectionString" value="${configsetting:ConnectionStrings.connectionstring}" />

	<targets>
		<target name="file" xsi:type="File" fileName="E:\Software Enginering\Devskill\Practice\logfile.txt"
				layout="${longdate} ${level} ${message}" />
		
		<target name="database" xsi:type="Database" connectionStringName="${myConnectionString}" commandText="INSERT INTO LogTable (Level, Message) VALUES (@level, @message)">
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
		</target>
		
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
	
</nlog>